li.name{
    border: 90px solid blue;
    padding: 5px;
}
li.school{
    border: 90px solid orange;
    padding: 5px;
    margin-top: 5px;
}
li.handsome{
    border: 90px solid pink;
    padding : 5px;
    padding-bottom:30px;
    margin-top: 5px;
}
ul{
    border: 5px solid black;
}
